/** GENERAL **/


.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.example::-webkit-scrollbar {
    display: none;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .amiko-bold {
    font-family: 'Amiko', sans-serif;
    font-weight: 700 !important;
    color: #3B4040;
}

.amiko {
    font-family: 'Amiko', sans-serif;
    font-weight: 400;
}

.abel {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    color: #646363;
}

link {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.poppins-thin {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.container {
    margin: 0% 10%;
}


/** NAVBAR **/


.navbar{
    width: 100%;
    margin: 0 !important;
    position: fixed !important;
    background-color:rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);

}

.home_logo_holder{
    height: 100%;
}

.navbar-links{
    text-align-last: end;
}

.navbar-links button{
    border: none;
}

.navbar a{
    color: black;
    font-size: 115%;
}

.navbar a.line-text{
    white-space: nowrap;
}

.navbar a:hover{
    color: black;
    text-decoration: underline;
}

.navbar button{
    color: black;
}

.vertical-line{
    width: 2px;
    background: black;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 992px){
    .div.vertical-line{
        visibility: hidden !important;
    }
}

.login-link{
    font-weight: bold !important;
}

/** HomeParallax **/


.parallax{
  background-image: url("../public/img/Logo\ Haut\ de\ Page.png");
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.discover-button{
    height: 7.5vh;
    width: auto;
    margin-left: 40vw;
    margin-top: 80vh;
}

.discover-button:hover{
    cursor: pointer;
}

/** BANNER **/

.banner-wrapper {
    width: 100%;
    height: auto;
    padding: 30px 0%;
}

.banner-wrapper.the-sense {
    background-color: #EAFFFB
}

.banner-wrapper .banner-flex {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAFFFB;
}

.banner-flex .banner-bubble {
    width: 40%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.banner-flex .banner-bubble .image-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid #bbccc9 10px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.banner-flex .banner-bubble .image-wrapper img {
    object-fit: fill;
    height: 100%;
}

.banner-flex .banner-content {
    width: 60%;
}

.banner-content .banner-title {
    text-transform: uppercase;
    font-size: 2rem;
}

.banner-content .banner-title img {
    width: 125px;
    padding-bottom: 12px;
}

.banner-content .banner-description {
    font-size: 1.2rem;
    color: #3B4040;
}

.banner-content .banner-link {
    text-decoration: none;
    color: #3B4040;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.banner-content .banner-link div {
    padding-right: 8px;
}

/** CARD **/

.cardblock{
    margin-top: 2%;
}

.cardtextc{
    background-color: #CDFFF3  ;
    border-color: #CDFFF3;
}
.cardtitle{
    display: flex;
    margin-bottom: 0%;
    margin-top: 2%;
}
.desctitle{
    margin-bottom: 0%;
}
.cardtitle p{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 40px;
    margin-top: 0%;
}

#sub{
    color:     #FA8072;
    font-size: 25px;
    margin: 0%;
}

.titlecard{
    margin-left: 2%;

}

.cardtext{
    margin-left: 2%;
}

.contentcard{
    font-size: 25px;
}
.link2{
    text-decoration: none;
    font-family: 'Poppins';
    color: gray;
}

/** NEWS **/

.news-header {
    width: 100%;
    height: 510px;
    background-image: url("../public/img/image\ 137.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
}

.news-header h1 {
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
}

.news-content {
    background-image: url("../public/img/news_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 3000px;
    padding-top: 10%;
}

.news-card-wrapper.small {
    width: 45%;
}

.news-card-wrapper.wide {
    width: 100%;
}

.news-card-wrapper img {
    width: 100%;
}

.news-card-wrapper .content-wrapper {
    background-color: lightgrey;
    padding: 30px;
    width: 95%;
    height: 300px;
    border-radius: 0px 0 10px 10px;
    margin-left:2.5%;
    text-align: center;
    text-justify:distribute;
    margin-bottom: 50px;
}

.news-card-wrapper .content-wrapper .news-title {
    text-transform: uppercase;

}

.news-card-wrapper.wide .content-wrapper .news-title {
    margin-bottom: 20px;
}

.news-card-wrapper.small .content-wrapper .news-title {
    margin-bottom: 5px;
}

.news-card-wrapper .content-wrapper .news-paragraph {
    font-size: 1.3rem;
}

.small-news-holder {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

/** FOOTER **/

.footer {
    background-color: #3B4040;
    width: 100%;
    display: flex;
    
}
    
.leftfooter{
    width: 20%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.leftfooter a{
    margin-left: 15%;
    text-decoration: none;
    color: #82FFE1 ;
    font-size: 15px;
    
}

.centerfooter{
    width: 25%;
    text-align: center;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.centerfooter p{
    color: #82FFE1 ;
    font-size: 18px;
}

.rightfooter{
    width: 20%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.rightfooter a{
    margin-left: 15%;
    text-decoration: none;
    color: #82FFE1 ;
    font-size: 15px;
    
}

.buttonfooter{
    width: 18%;
    text-align: center;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

#you{
    border-radius: 100%;
    margin-left: 5%;
}